body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
.content{
    max-width: 362px;
    display: flex;
    text-align: center;
}
h1{
    font-family:"Roboto";
    font-style: normal;
    font-weight: 500px;
    font-size: 42px;
    line-height: 42px;
    color: rgba(red, green, blue, alpha);
    padding-top: 18px;
    padding-left:14px ;
}
h4{
    font-family:"Roboto";
    font-style: normal;
    font-weight: 500px;
    font-size: 21px;
    line-height: 21px;
    color: rgba(red, green, blue, alpha);
    padding-top: 20px;
    padding-left:14px ;
}
p{
    font-family:"Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #757575;
    padding-top: 20px;
    padding-left:14px ;
    text-align: left;
}
.btn{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 68px;
    margin-left: 14px;
    margin-bottom: 125px;
}
.btn-next, .btn-skip{
    font-family:"Roboto";
    font-style: normal;
    font-weight: 500px;
    font-size: 14px;
    line-height: 18px;
    color:white;
    text-align: center;
    background-color: #2C98F0;
    border-radius: 4px;
    letter-spacing: 0,16px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 17px;
    padding-left: 17px;
}
@media (min-width:1024px){
    .content{
        max-width: 1360px;
        display: flex;
        text-align: left;
    }
    h1{
        line-height: 24px;
        padding-top: 53px;
        padding-left: 40px;
    }
    h4{
        line-height: 24px;
        padding-top: 18px;
        padding-left: 40px;
    }
    p{
        padding-top: 18px;
        padding-left:40px ;
        padding-right: 40px;
    }
    .btn{
        margin-top: 64px;
        margin-left: 40px;
        margin-right: 40px;
    }
}
    